@model IEnumerable<GuessThePassword.Models.GuessThePassword_LastGames>

@{
    ViewBag.Title = "Zgadnij hasło";
}
<script src="~/Scripts/game.js"></script>
<header>

    <div id="container">

        <div id="contentUP">
            <div id="firstContentUp" class="wow fadeIn" data-wow-delay="0.2s"><span> Witaj w grze polegającej na odgadywaniu haseł </span></div>
            <div id="firstContentBottom">
                <button class="buttonstart wow swing" data-wow-duration="6000ms" onclick="show()" data-wow-iteration="infinite"><span>Zagraj!</span></button>

            </div>
        </div>

    </div>
</header>

<main>
    <article>

        <div id="contentDown" class="wow fadeIn" data-wow-delay="0.9s">
            <span>Naciśnij klawisz „Zagraj!” i spróbuj swoich sił w grze. Istnieje możliwość wyboru poziomu jak i kategorii. Hasła generowane są losowo! Miłej zabawy!</span>

        </div>

    </article>
</main>

@*<input class="btn btn-primary" name="submitButton" id="btnSave" onclick="GetLastRecords()" value="Save" type="button">*@
<table class="table wow fadeIn" id="tblResultLastGames" data-wow-delay="1.4s">

    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResultsID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>
    </thead>
        @foreach (var item in Model.OrderByDescending(s => s.ResultsID))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResultsID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }

</table>


<script src="~/Scripts/dist/wow.js"></script>
<script>
    wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100,
            callback: function (box) {
                console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
            }
        }
    );
    wow.init();

</script>